@font-face
  font-family: ProximaNovaBold
  src: url("assets/Proxima_Nova.otf") format("opentype")

*
  margin: 0
  padding: 0
  font-family: ProximaNovaBold

html, body
  background: #000000
  color: #ffffff
